.page {

  padding: 0em 2em 2em 2em;

  h3, select, p {
    margin-top: 1.5em;
  }

  .container {

    margin-top: 2em;
    display: flex;
    gap: 2em;

    section {

      flex:60%;

      &:nth-child(1) {
        flex: 40%;
      }

    }

  }


}
