<a routerLinkActive="active" routerLink="data-table">Table</a>
<a routerLinkActive="active" routerLink="gridster">Grid</a>
<a routerLinkActive="active" routerLink="data-table-extreme">Table & Chart</a>
<a routerLinkActive="active" routerLink="data-table-drill-down">Drill down</a>
<a routerLinkActive="active" routerLink="data-table-drill-down-coupled">Drill down [C]</a>
<a routerLinkActive="active" routerLink="data-table-drill-down-coupled-ii">Drill down [CII]</a>

<router-outlet></router-outlet>
