/* You can add global styles to this file, and also import other style files */
@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';

*{
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

html, body {
  height: 100%;
}

.ngx-datatable.material .datatable-body .datatable-body-row .editable-cell {
  padding: 0px;

  span, .form {
    padding: 0.9rem 1.2rem;
    display: block;
  }
  input {
    width: 100%;
  }
}
